<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SisApp - Sistema de Inscrições</title>

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="../vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

                   <!-- Sidebar -->
                   <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                    <!-- Sidebar - Brand -->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fas fa-laugh-wink"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3">UniLuanda </div>
                    </a>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider my-0">
        
                    <!-- Nav Item - Dashboard -->
                    <li class="nav-item">
                        <a class="nav-link" href="../main">
                            <i class="fas fa-fw fa-tachometer-alt"></i>
                            <span>Dashboard</span></a>
                    </li>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider">
        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        <i class="fas fa-user-check"></i>  Interface 
                    </div>
        
                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item active">
                        <a class="nav-link" href="../candidato/candidato">
                            <i class="fas fa-address-card"></i>
                            <span id="nav-text-link">Candidatura</span>
                        </a>
                    </li>
        
                    <!-- Divider -->
                    <hr class="sidebar-divider">
        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        <i class="fas fa-file-alt"></i>  Relatórios 
                    </div>
                    <!-- Nav Item - Tables -->
                    <li class="nav-item">
                        <a class="nav-link" href="../candidato/listhoje">
                            <i class="fas fa-users"></i>
                            <span>Inscritos Hoje</span></a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="../candidato/listcandidato">
                            <i class="fas fa-clipboard-list"></i>
                            <span>Todas Inscrições</span></a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" href="../exportcandidatos">
                            <i class="fas fa-file-export"></i>
                            <span>Exportar em Excel</span></a>
                    </li>
                    <!--Divider Config-->
                    <hr class="sidebar-divider">
        
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        <i class="fas fa-cog"></i> Configurações 
                    </div>
                    <!-- Nav Item - Tables -->
                    <li class="nav-item">
                        <a class="nav-link" href="../uo/instituicao">
                            <i class="fas fa-school"></i>
                            <span>Unidades Orgânicas</span></a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="../curso/curso">
                            <i class="fas fa-book-open"></i>
                            <span>Cursos</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../sala/sala">
                            <i class="fas fa-chalkboard-teacher"></i>
                            <span>Salas de Exames</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../codes/codein">
                            <i class="fas fa-cogs"></i>
                            <span>Gerar Codes</span></a>
                    </li>
                  
                    <!-- Divider -->
                    <hr class="sidebar-divider d-none d-md-block">
        
                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center d-none d-md-inline">
                        <button class="rounded-circle border-0" id="sidebarToggle"></button>
                    </div>
        
                </ul>
            <!-- End of Sidebar -->


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle" src="../img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Gerir Candidatos nas Salas de Exames</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Alocar candidatos nas Salas de Exame</h6>
                        </div>
                        <div class="card shadow mb-4">
                            <form th:action="@{/candidatosala}" th:object="${candidatosala}" method="post">
                                <div class="d-flex justify-content-between tab1-first">
                                    <div class="form-group group4">
                                        <label for="curso">Cursos:</label>
                                        <select  id="curso" name="curso"
                                            class="select-form" onchange="carregarSalas()">
                                            <option value="" selected>Selecione um</option>
                                            <th:block th:each="curso : ${cursos}">
                                                <option th:value="${curso.id}" th:text="${curso.descricao}">
                                                </option>
                                            </th:block>
                                        </select>
                                        <br />
                                        <label for="candidato">Lista de Candidatos:</label>
                                        <select  id="candidato" name="candidato"
                                            class="select-form">
                                            <option value="" selected>Selecione um</option>
                                            <th:block th:each="candidato : ${candidatos}">
                                                <option th:value="${candidato.id}" th:text="${candidato.nome}">
                                                </option>
                                            </th:block>
                                        </select>
                                        <br />
                                        <label for="sala">Sala Regime:</label>
                                        <select id="sala" name="sala" required>
                                            <option value="" disabled selected>Selecione um</option>
                                        </select>
                                    </div>

                                </div>


                                <button class="btn btn-primary" type="submit">Adicionar</button>
                            </form>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Candidato</th>
                                           
                                            <th>Sala</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                        <tr>
                                            <th>Candidato</th>
                                          
                                            <th>Sala</th>
                                        </tr>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr th:each="candidatosala : ${candidatosalas}">
                                            <td th:text="${candidatosala.candidato.nome}"></td>
                                            <td th:text="${candidatosala.sala.descricao}"></td>
                                            
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; UniLuanda - 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../js/demo/datatables-demo.js"></script>

    <script>
        function carregarSalas() {
            var cursoId = document.getElementById("curso").value;
            var salaSelect = document.getElementById("sala");
            salaSelect.innerHTML = ""; // Limpa opções anteriores

            // Faz a chamada AJAX para obter os cursos
            fetch('/salas/' + cursoId)
                .then(response => response.json())
                .then(data => {
                    // Adiciona as opções de curso ao select
                    data.forEach(sala => {
                        var option = document.createElement("option");
                        option.value = sala.id; // ID do curso
                        option.text = sala.descricao; // Nome do curso
                        salaSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Erro ao carregar salas:', error));

        }
    </script>

<script>
    function carregarCandidatos() {
        var cursoId = document.getElementById("curso").value;
        var candidatoSelect = document.getElementById("candidato");
        candidatoSelect.innerHTML = ""; // Limpa opções anteriores

        // Faz a chamada AJAX para obter os cursos
        fetch('/candidatos/' + cursoId)
            .then(response => response.json())
            .then(data => {
                // Adiciona as opções de curso ao select
                data.forEach(candidato => {
                    var option = document.createElement("option");
                    option.value = candidato.id; // ID do curso
                    option.text = candidato.nome; // Nome do curso
                    salaSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Erro ao carregar Candidatos:', error));

    }
</script>

</body>

</html>