<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Código</title>
</head>
<body>
<h1>Cadastro de Código</h1>
<form th:action="@{/code}" method="post" th:object="${code}">
    <label for="numeroDeOpcoes">Número de Opções:</label>
    <input th:field="*{codigo}" type="hidden" >
    <select th:field="*{numeroDeOpcoes}">
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    
    <button type="submit">Gerar Novo Código</button>
</form>

<h2>Códigos Ativos</h2>
<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Status</th>
            <th>Número de Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="code : ${codes}">
            <td th:text="${code.codigo}"></td>
            <td th:text="${code.ativo ? 'Ativo' : 'Inativo'}"></td>
            <td th:text="${code.numeroDeOpcoes}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>

