<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Instituição</title>
</head>
<body>
<h1>Cadastro de Instituição</h1>
<form th:action="@{/instituicao}" th:object="${instituicao}" method="post">
    <label for="nome">Nome:</label>
    <input type="text" th:field="*{nome}" required /><br/>

    <label for="sigla">Sigla:</label>
    <input type="text" th:field="*{sigla}" required /><br/>

    <label for="localizacao">Localização:</label>
    <input type="text" th:field="*{localizacao}" required /><br/>

    <button type="submit">Cadastrar</button>
</form>

<h2>Instituições Cadastradas</h2>
<ul>
    <li th:each="instituicao : ${instituicoes}">
        <span th:text="${instituicao.nome}"></span> - <span th:text="${instituicao.localizacao}"></span>
    </li>
</ul>
</body>
</html>
